<h1>✈️ Flights</h1>

<%= form_with(url: flights_path, method: :get, local: true) do %>
  <p>Departure from: </p>
  <select name="flight[departure_airport_id]">
    <% @airports.each do |airport| %>
      <option value="<%= airport.id%>"><%= airport.airport_code %></option> 
    <% end %>
  </select>

  <p>Arrival to: </p>
  <select name="flight[arrival_airport_id]">
    <% @airports.each do |airport| %>
      <option value="<%= airport.id%>"><%= airport.airport_code %></option> 
    <% end %>
  </select>

  <p>Travelling on: </p>
  <select name="flight[start_datetime]">
    <% @flights.pluck(:start_datetime).uniq.each do |datetime| %>
      <option value="<%= datetime %>"><%= datetime %></option>
    <% end %>
  </select>

  <p>Passengers: </p>
  <select name="passenger_count">
    <option value="1">1</option> 
    <option value="2">2</option> 
    <option value="3">3</option> 
    <option value="4">4</option> 
  </select>

  <%= submit_tag "Search" %>
<% end %>


<%= form_with(url: "/bookings/new", method: :get, local: true) do %>
  <h2>Available flights: </h2>
  <% if @flights.present? %>
    <% @flights.each do |flight| %>
      <div>
        <label>
          <%= radio_button_tag 'selected_flight', flight.id %>
          From: <%= flight.departure_airport.airport_code %> ->
          To: <%= flight.arrival_airport.airport_code %><br>
          When: <%= flight.start_datetime %><br>
          Duration: <%= flight.duration %> hrs 
        </label>
      </div>
    <% end %>
    <%= hidden_field_tag 'passenger_count', @passenger_count %>
    <%= submit_tag "Book flight" %>
  <% else %>
    <p>No flights available for the selected criteria.</p>
  <% end %>
<% end %>
